* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --black: black;
  --green: #006241;
  --white: white;
  --white2: #eeebeb;
  --green2: #1e3932;
  --olive: #a0c292;
  --pink: #f6bfd9;
  --lightgreen: #d4e9e2;
  --beige: #fff4d4;
}
.dark {
  color: var(--black);
  background-color: var(--green);
}
.dark .myNavbar a {
  color: var(--white2);
}
.dark .myNavbar {
  color: var(--white) !important;
  background-color: var(--green2);
}
.dark .myNavbar .btn {
  font-weight: 600 !important;
  background-color: var(--white);

  border: none !important;
}
.dark .myNavbar .btn:hover {
  background-color: var(--olive);
  color: var(--black);
}
.dark .myNavbar a:hover {
  color: var(--olive);
}
.dark .box1 .box-text {
  background-color: var(--olive);
  color: black;
  text-align: center;
  padding-top: 8%;
}
.dark .btn-dark {
  color: var(--black);
}
.dark .btn-dark:hover {
  color: var(--black);
}
body {
  font-family: "Maven Pro", sans-serif;
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
  color: var(--black);
}

.myNavbar a {
  color: var(--black);
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  margin: 5px 0;
  line-height: 1.7;
}

img {
  max-width: 100%;
  height: auto;
}

/*Navbar*/
.myNavbar {
  width: 100%;
  height: auto;
  background: var(--white);
  padding: 29px;
  box-shadow: 0 1px 3px #0000001a, 0 2px 2px #0000000f, 0 0 2px #00000012;
}
.navbar-container {
  display: inline;
}

.ulWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand img {
  width: 3rem;
  margin-top: -9px;
  float: left;
}

.myNavbar ul {
  display: flex;
  align-items: center;
}

.myNavbar li {
  margin: 0 15px;
  font-weight: bold;
}

.myNavbar a:hover {
  color: var(--green);
}

.navbar-nav-left {
  text-transform: uppercase;
  flex: 1;
  margin-left: 20px;
}

.navbar-nav-right li:first-child a {
  display: flex;
  align-items: center;
}

.navbar-nav-right li:nth-child(2) {
  margin: 0 5px;
}

/*buttons*/
.btn {
  cursor: pointer;
  display: inline-block;
  background: none;
  border: 1px solid var(--black) !important;
  border-radius: 50px !important;
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  line-height: 1.2;
}

.btn-dark {
  color: var(--white);
  background-color: var(--black);
}

.btn-light-outline {
  color: var(--white);
  border-color: var(--white);
}

.btn-hover:hover {
  background-color: var(--white2);
}
#themeSwitch {
  cursor: pointer;
}

/*body buttons*/
.b {
  font-weight: 600;
  font-size: large;
  padding: 9px 18px;
  text-align: center;
  cursor: pointer;
  border-radius: 120px;
}
.b1 {
  background-color: var(--green2);
  border: 1px solid var(--white);
  color: var(--white);
}
.b2 {
  background-color: var(--olive);

  color: var(--green2);
  margin-left: 42%;
}
.b3 {
  background-color: var(--pink);
  color: var(--green2);
}
.b4 {
  background-color: var(--beige);
  color: var(--green2);
}

.b5 {
  margin-left: 42%;
  background-color: var(--lightgreen);
  color: var(--green2);
}

.buttonBorder {
  border: 1px solid var(--green2);
}

/*main body*/
.box {
  margin: 35px;

  display: flex;
}

.box-size {
  width: 50%;
}
img {
  width: 100%;
  height: 100%;
}

.box1 .box-text {
  background-color: var(--green2);
  color: var(--white);
  text-align: center;
  padding-top: 8%;
}

.box1 .box-text p {
  padding: 3% 17%;
  font-weight: 600;
  word-spacing: 5px;
}

.box1 .box-text h3 {
  line-height: 200%;
  padding: 3px 89px;
}
.box2 .box-text {
  background-color: var(--olive);
  padding-top: 9%;
}

.box2 .box-text h1 {
  color: var(--green2);
  text-align: center;
  padding-top: 8%;
  font-size: 50px;
  letter-spacing: 3px;
}

.box2 .box-text h2 {
  text-align: center;
  padding: 7% 11%;
  color: #1e3932;
  font-weight: 600;
}

.box3 .box-text {
  background-color: var(--pink);
  padding-top: 9%;
  text-align: center;
  color: var(--green2);
  padding-top: 12%;
}

.box3 h1 {
  padding: 0 1%;
  font-size: 49px;
  letter-spacing: 4px;
}

.box3 .box-text h2 {
  padding: 4% 13%;
  font-weight: 600;
}

.box4 .box-text {
  padding-top: 9%;
  text-align: center;
  color: var(--green2);
  background-color: var(--beige);
}

.box4 .box-text h1 {
  font-size: 49px;
  letter-spacing: 4px;
}

.box4 .box-text h2 {
  padding: 4% 13%;
  font-weight: 600;
}

.box5 .box-text {
  background-color: var(--lightgreen);
  color: var(--green2);
}

.box5 .box-text h3 {
  font-size: 23px;
  padding-top: 10%;
  text-align: center;
}

.box5 .box-text p {
  padding: 4% 12%;
  font-size: 20px;
  text-align: center;
  font-weight: 400;
}
.dark footer,
.dark .footer2 {
  background-color: var(--olive);
}
footer {
  display: flex;
  justify-content: flex-start;
  padding-top: 4%;
  font-weight: 500;
  font-size: 17px;
  box-shadow: 0 1px 2px #0000001a, 0 -2px 2px #0000000f, 2px 2px 2px #00000012;
}

footer ul li {
  padding: 4% 0;
  font-weight: 400;
  font-size: medium;
  width: 260px;
}

.footer-icons {
  width: 30px;
  margin-right: 1%;
  margin-bottom: 1%;
}
.footer2 {
  padding: 2%;
}

.foot-note {
  font-weight: 600;
}
.foot-note span {
  padding-right: 2%;
}

.copy {
  font-size: smaller;
  margin-top: 1%;
}

@media (max-width: 720px) {
  .box1 h2 {
    font-size: 18px;
    padding: 0;
  }
  .box1 h3 {
    line-height: 0;
    font-size: 15px;
    padding: 0;
    text-align: center;
    margin: 0;
    font-weight: 100;
  }
  .b {
    font-size: smaller;
    padding: 9px 18px;
    text-align: center;
    cursor: pointer;
    border-radius: 120px;
  }

  .box1 .box-text {
    padding-top: 17px;
  }
  .b1 {
    margin-bottom: 17px;
  }
  .box2 .box-text {
    padding-top: 28px;
  }
  .box2 .box-text h1 {
    font-size: 27px;
    letter-spacing: 0;
    padding: 0;
  }
  .box2 .box-text h2 {
    font-weight: 100;
    font-size: 19px;
    letter-spacing: 0;
  }
  .b2 {
    margin-bottom: 10px;
    margin-left: 109px;
  }
  .box3 .box-text {
    padding-top: 18px;
  }

  .box3 h1 {
    font-size: 27px;
    letter-spacing: 0;
  }

  .box3 .box-text h2 {
    font-weight: 100;
    font-size: 17px;
  }
  .b3 {
    margin-bottom: 10px;
  }
  .box4 .box-text {
    padding-top: 10px;
  }
  .box4 .box-text h1 {
    font-size: 25px;
    letter-spacing: 0;
  }
  .box4 .box-text h2 {
    font-weight: 100;
    font-size: 17px;
  }
  .box5 .box-text {
    padding-top: 10px;
  }
  .box5 .box-text h3 {
    letter-spacing: 0;
  }
  .box5 .box-text p {
    font-size: 15px;
  }
  .b5 {
    margin-left: 34%;
    margin-bottom: 15px;
    border: 1px solid #1e3932;
  }
  footer {
    padding: 3% 3%;
  }
  .footer1-heading {
    font-size: 14px;
  }
  footer ul li {
    padding: 4% 10% 0 0;
    font-weight: 100;
    font-size: 10px;
  }
  .footer-icons {
    width: 18px;
    margin-right: 1%;
    margin-bottom: 1%;
  }
  .footer2 {
    padding: 1%;
  }
  .foot-note {
    font-weight: 100;
  }
  .foot-note span {
    padding-right: 1%;
    font-size: 14px;
  }

  .copy {
    font-size: smaller;
    margin-top: 1%;
  }
}

@media (max-width: 1030px) {
  .box1 h2 {
    font-size: 29px;
    padding-top: 29px;
  }
  .box1 h3 {
    line-height: 0;

    padding: 0;
    text-align: center;
    margin: 0;
    font-weight: 100;
  }
  .b {
    padding: 9px 18px;
    text-align: center;
    cursor: pointer;
    border-radius: 120px;
  }

  .box1 .box-text {
    padding-top: 1px;
  }
  .b1 {
    margin-bottom: 30px;
  }

  .box2 .box-text h1 {
    font-size: 37px;
    letter-spacing: 0;
    padding: 0;
  }
  .box2 .box-text h2 {
    font-size: 23px;
    padding: 40px 50px;
    letter-spacing: 0;
  }
  .b2 {
    font-weight: 600;
    margin-left: 169px;
  }
  .box3 .box-text {
    padding-top: 52px;
  }
  .box3 h1 {
    font-size: 37px;
    letter-spacing: 0;
  }

  .box3 .box-text h2 {
    font-weight: 100;
    font-size: 23px;
  }
  .box4 .box-text {
    padding-top: 56px;
  }
  .box4 .box-text h1 {
    font-size: 37px;
    letter-spacing: 0;
  }
  .box4 .box-text h2 {
    font-weight: 100;
    font-size: 22px;
  }

  .box5 .box-text p {
    font-size: 15px;
  }
  .b5 {
    margin-left: 30%;
    margin-bottom: 40px;
    border: 1px solid #1e3932;
  }
  footer {
    padding-top: 3%;
    font-weight: 600;
    font-size: 19px;
  }
  footer ul li {
    padding: 4% 1% 0 0;
    font-weight: 100;
    font-size: 11px;
    width: 200px;
  }
  .footer-icons {
    width: 30px;
    margin-right: 2%;
    margin-bottom: 1%;
  }
  .footer2 {
    padding: 1%;
  }
  hr .foot-note {
    font-weight: lighter;
  }
  .foot-note span {
    padding-right: 1%;
    font-size: 14px;
  }

  .copy {
    font-size: smaller;
    margin-top: 1%;
  }
}
